<?xml version="1.0"?>
<config>
	<modules>
		<Fishpig_Wordpress_Addon_AMP>
			<version>1.0.0.4</version>
			<fishpig>
				<id>amp</id>
				<name>AMP</name>
				<url>https://fishpig.co.uk/magento/wordpress-integration/amp/</url>
			</fishpig>
		</Fishpig_Wordpress_Addon_AMP>
	</modules>
	<global>
		<blocks>
			<wp_addon_amp>
				<class>Fishpig_Wordpress_Addon_AMP_Block</class>			
			</wp_addon_amp>
		</blocks>
		<helpers>
			<wp_addon_amp>
				<class>Fishpig_Wordpress_Addon_AMP_Helper</class>			
			</wp_addon_amp>
		</helpers>
	</global>
	<frontend>
		<events>
			<wordpress_render_layout_before>
				<observers>
					<wp_addon_amp>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_AMP_Model_Observer</class>
						<method>wordpressRenderLayoutBeforeObserver</method>
					</wp_addon_amp>
				</observers>				
			</wordpress_render_layout_before>
			<wordpress_post_controller_pre_dispatch_after>
				<observers>
					<wp_addon_amp>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_AMP_Model_Observer</class>
						<method>wordpressPostControllerPreDispatchAfterObserver</method>
					</wp_addon_amp>
				</observers>
			</wordpress_post_controller_pre_dispatch_after>
		</events>
	</frontend>
	<adminhtml>
		<events>
			<wordpress_integration_tests_after>
				<observers>
					<wp_addon_amp>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_AMP_Model_Observer</class>
						<method>wordpressIntegrationTestsAfterObserver</method>
					</wp_addon_amp>
				</observers>
			</wordpress_integration_tests_after>
		</events>
	</adminhtml>
	<fishpig>
		<injection>
			<Fishpig_Inject_Wordpress_Block_System_Config_Form_Field_License>
				<Fishpig_Wordpress_Addon_AMP>
					<Block_System_Config_Form_Field_License><ignore /></Block_System_Config_Form_Field_License>
				</Fishpig_Wordpress_Addon_AMP>
			</Fishpig_Inject_Wordpress_Block_System_Config_Form_Field_License>
			<Fishpig_Inject_Wordpress_Helper_License>
				<Fishpig_Wordpress_Addon_AMP>
					<Helper_License><ignore /></Helper_License>
				</Fishpig_Wordpress_Addon_AMP>
			</Fishpig_Inject_Wordpress_Helper_License>
			<Fishpig_Inject_Wordpress_Helper_Core>
				<Fishpig_Wordpress_Addon_AMP>
					<Helper_Core><ignore /></Helper_Core>
				</Fishpig_Wordpress_Addon_AMP>
			</Fishpig_Inject_Wordpress_Helper_Core>
		</injection>
		<encode>
			<helper_license>app/code/community/Fishpig/Wordpress/Addon/AMP/Helper/License.php</helper_license>
			<helper_core>app/code/community/Fishpig/Wordpress/Addon/AMP/Helper/Core.php</helper_core>
			<observer>app/code/community/Fishpig/Wordpress/Addon/AMP/Model/Observer.php</observer>
			<block_license>app/code/community/Fishpig/Wordpress/Addon/AMP/Block/System/Config/Form/Field/License.php</block_license>
		</encode>
	</fishpig>
</config>