<?xml version="1.0"?>
<config>
	<modules>
		<Fishpig_Wordpress_Addon_AMP>
			<version>1.0.0.14</version>
			<fishpig>
				<id>amp</id>
				<name>AMP</name>
				<url>https://fishpig.co.uk/magento/wordpress-integration/amp/</url>
			</fishpig>
		</Fishpig_Wordpress_Addon_AMP>
	</modules>
	<global>
		<blocks>
			<wp_addon_amp>
				<class>Fishpig_Wordpress_Addon_AMP_Block</class>			
			</wp_addon_amp>
		</blocks>
		<helpers>
			<wp_addon_amp>
				<class>Fishpig_Wordpress_Addon_AMP_Helper</class>			
			</wp_addon_amp>
		</helpers>
	</global>
	<frontend>
		<events>
			<wordpress_render_layout_before>
				<observers>
					<wp_addon_amp>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_AMP_Model_Observer</class>
						<method>wordpressRenderLayoutBeforeObserver</method>
					</wp_addon_amp>
				</observers>				
			</wordpress_render_layout_before>
			<wordpress_post_controller_pre_dispatch_after>
				<observers>
					<wp_addon_amp>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_AMP_Model_Observer</class>
						<method>wordpressPostControllerPreDispatchAfterObserver</method>
					</wp_addon_amp>
				</observers>
			</wordpress_post_controller_pre_dispatch_after>
		</events>
	</frontend>
	<adminhtml>
		<events>
			<wordpress_integration_tests_after>
				<observers>
					<wp_addon_amp>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_AMP_Model_Observer</class>
						<method>wordpressIntegrationTestsAfterObserver</method>
					</wp_addon_amp>
				</observers>
			</wordpress_integration_tests_after>
		</events>
	</adminhtml>
	<wordpress>
		<core>
			<modules>
				<wp_addon_amp/>
			</modules>
		</core>
	</wordpress>
</config>